{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <style type="text/css">
    details {
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: .5em .5em 0;
    }

    summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: .5em;
    }

    details[open] {
        padding: .5em;
    }

    details[open] > summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
    }
  </style>

  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th width="20%">Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.method_payment }}</td>
        <td>{{ item.cost|floatformat:2 }}</td>
        <td>{{ item.client }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.comment }}</td>
        <td>
          {% if item.order_status == Order.UNPROCESSED %}
            <details>
              <summary>---</summary>
                {% for restaurant in item.serving_restaurants %}
                  <li>{{ restaurant }}
                    {% if restaurant.distance %}
                       - {{ restaurant.distance }} км.
                    {% endif %}
                  </li>
                {% endfor %}
            </details>
          {% else %}

            {% if item.serving_restaurants %}
              {% with item.serving_restaurants|first as restaurant %}
                Готовит: <li>{{ restaurant }}
                  {% if restaurant.distance %}
                    - {{ restaurant.distance }} км.
                  {% endif %}
                </li>
              {% endwith %}
            {% endif %}

          {% endif %}
        </td>
        <td><a href="{{ item.url|urlencode }}?next={{ request.path }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
